<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BMS_FINAL</display-name>
  <welcome-file-list>
    <welcome-file>IndexPage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoggerInitializer</display-name>
    <servlet-name>LoggerInitializer</servlet-name>
    <servlet-class>com.bms.log.LoggerInitializer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoggerInitializer</servlet-name>
    <url-pattern>/LoggerInitializer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.bms.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoanTypeController</display-name>
    <servlet-name>LoanTypeController</servlet-name>
    <servlet-class>com.bms.controller.LoanTypeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoanTypeController</servlet-name>
    <url-pattern>/LoanTypeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SwitchController</display-name>
    <servlet-name>SwitchController</servlet-name>
    <servlet-class>com.bms.controller.SwitchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SwitchController</servlet-name>
    <url-pattern>/SwitchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationController</display-name>
    <servlet-name>RegistrationController</servlet-name>
    <servlet-class>com.bms.controller.RegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationController</servlet-name>
    <url-pattern>/RegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatementController</display-name>
    <servlet-name>StatementController</servlet-name>
    <servlet-class>com.bms.controller.StatementController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatementController</servlet-name>
    <url-pattern>/StatementController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionController</display-name>
    <servlet-name>TransactionController</servlet-name>
    <servlet-class>com.bms.controller.TransactionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionController</servlet-name>
    <url-pattern>/TransactionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dataController</display-name>
    <servlet-name>dataController</servlet-name>
    <servlet-class>com.bms.controller.dataController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dataController</servlet-name>
    <url-pattern>/dataController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfileController</display-name>
    <servlet-name>UpdateProfileController</servlet-name>
    <servlet-class>com.bms.controller.UpdateProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileController</servlet-name>
    <url-pattern>/UpdateProfileController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadController</display-name>
    <servlet-name>DownloadController</servlet-name>
    <servlet-class>com.bms.controller.DownloadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadController</servlet-name>
    <url-pattern>/DownloadController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.bms.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>